@font-face {
    font-family: TT Lakes;
    src: url("../fonts/TTLakes/TTLakes-Regular.woff") format("woff");
}
  
@font-face {
    font-family: TT Lakes;
    src: url("../fonts/TTLakes/TTLakes-Bold.woff") format("woff");
    font-weight: 700;
}

@font-face {
    font-family: TT Lakes;
    src: url("../fonts/TTLakes/TTLakes-Medium.woff") format("woff");
    font-weight: 500;
}