.side-navigation{
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    top: 0;
    left: -150%;
    background-color: var(--nothing-bg-color);
    z-index: 150;
    box-shadow: -2px 0 4px 0 rgba(69, 79, 126, 0.2), 16px 0 52px 0 rgba(14, 24, 80, 0.2);
    transition: left 0.5s;
    @media(min-width: 768px) {
        width: 320px;
    }
    @media(min-width:1440px) {
        position: relative;
        width: 306px;
        left: 0;
        top: 0;
        box-shadow: none;
        transition: none;
    }

    &--open{
        left: 0;
    }
    
    &__wrapper{
        position: absolute;
        width: 100%;
        height: 100vh;
        z-index: auto;
        transition: z-index .3s;
        @media(min-width: 1440px){
          position: sticky;
          top: 0;
          left: 0;
          width: 320px;
          z-index: 1;
        }
      }
    &__wrapper--open{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 200;
        @media(min-width: 1440px){
            position: relative;
            z-index: 1;
        }
      
    }
    &__overlay{
        position: absolute;
        top: 0;
        left: 0;
        background-color:  var(--nothing-bg-color);
        width: 100%;
        height: 100%;
        z-index: 0;
        opacity: 0;
        transition: opacity .3s,z-index .3s;
    }
    &__overlay--open{
        opacity: .92;
        z-index: 100;
    }
    &__header-wrapper{
        position: relative;
    }
    &__header{
        display: flex;
        align-items: center;
        position: relative;
        padding: 18px 16px;
        @media(min-width: 360px) {
            padding: 16px 24px; 
        }
        @media(min-width: 768px) {
            padding-top: 18px; 
            padding-bottom: 18px; 
        }
        @media(min-width: 1440px) {
            padding-top: 30px; 
            padding-bottom: 30px; 
        }
    }
    &__burger-button{
        @media(min-width: 1440px) {
            display: none;
        }
    }
    &__logo{
        z-index: 10;
        transform: translateX(16px);
        @media(min-width: 1440px) {
            transform: none;
        }
    }
    &__search{
        padding: 0 24px 0 24px;
    }
    &__body-wrapper{
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
        max-height: 100%;
        overflow-y: auto;
    }
    &__body-wrapper::-webkit-scrollbar {
        width: 0;
    }
    &__body{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        background-color: var(--nothing-bg-color);
        padding: 8px 16px 0;
        @media(min-width: 360px) {
            padding: 8px 24px 0;
        }
        @media(min-width: 768px) {
            padding: 32px 24px 0;
        }
        @media(min-width: 1440px) {
            padding-top: 8px;
        }
    }
    &__links{
        margin: 0 0 32px;
        display: flex;
        flex-direction: column;
    }
    &__info{
        display: flex;
        flex-direction: column;  
        padding-bottom: 32px;
    }
    &__contacts{
        display: flex;
        flex-direction: column;  
        font-weight: 500;  
    }
    &__action-buttons{
        margin-bottom: 16px;
    }
    &__email{
        margin-bottom: 12px;
    }
    &__tel{
        margin-bottom: 40px;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.6px;
        font-weight: 700;
    }
    &__lang{
        display: flex;
        font-weight: 500;
    }
    &__link{
        position: relative;
        align-items: center;
        width: 100%;
        display: flex;
        align-self: flex-start;
        min-height: 32px;
        cursor: pointer;
        font-style: normal;
        font-weight: 500;
        padding: 0;
        color: inherit;
    }
    &__link:not(:last-child) {
        margin-bottom: 16px; 
    }
    &__link--active{
        color: var(--subliight-font-color);
    }
    &__link--active:hover{
        color: var(--subliight-font-color);
    }
    &__link:before {
        background-color: transparent;
        content: "";
        position: absolute;
        top: 0;
        left: -24px;
        width: 4px;
        height: 32px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    &__link--active:before {
        background-color: var(--subtitle-decorate-color);
    }
    &__lang-item{
        margin-right: 7px;
        text-transform: uppercase;
        cursor: pointer;
        transition: color .4s;
    }
    &__lang-item--active{
        color: var(--subliight-font-color);
    }

    &__lang-item:hover:not(.side-navigation__lang-item--active){
        color: var(--main-theme-color);
    }    

}


/* Здесь влияние на линии кнопки burger

.side-navigation__burger-button--open .burger-button__line-top{
  width: 21.73px;
  transform: translateX(0px) translateY(7px) rotate(-45deg);
  height: 2.17px;
}

.side-navigation__burger-button--open  .burger-button__line-bott{
  width: 21.73px;
  transform: translateX(0px) translateY(-7px) rotate(45deg);
  height: 2.17px;
}

.side-navigation__burger-button--open  .burger-button__line-mid{
  opacity: 0;
}
*/