@import '_fonts.scss';
@import '_base.scss';
@import '_app.scss';
@import '_subtitle.scss';
@import '_action-buttons.scss';
@import '_mobile-header.scss';
@import '_icon-wrapper.scss';
@import '_burger-button.scss';
@import '_logo.scss';
@import '_content.scss';
@import '_button-with-text.scss';
@import '_navigation.scss';
@import '_side-navigation.scss';
@import '_content-block.scss';
@import '_show-more.scss';
@import '_inpute-search.scss';
@import '_brand-types.scss';
@import '_device-types.scss';
@import '_small-card.scss';
@import '_large-card.scss';
@import '_swiper.scss';
@import '_footer.scss';
@import '_sidebar.scss';
@import '_privacy-text.scss';
@import '_button-text-dropdown.scss';
@import '_table.scss';
@import '_table-card.scss';









/*$bgColor: #24292e;
$text: #fff;

@font-face {
  font-family: 'Comic';
  src: url('../fonts/comic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

body {
  padding: 1rem;
  margin: 0;
  font-family: Comic, sans-serif;
  background-color: $bgColor;
  color: $text;
}
*/